<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to "All Articles", articles_path %>
      <%= link_to "Create a New Article", new_article_path, class: "new-article" %>
      

    </nav>
    <p class="flash"><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
